@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;1,400&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color : black;
}

* {
  box-sizing: border-box;
}

body {
 overflow: hidden;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background/monalisa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

.logo {
 width: 160px;
 cursor: pointer;
 background-image: url(assets/Aenq.png);
}

a {
  text-decoration: none;
  color: black;
}

.wallet-address {
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}